<div class="container pt-3">
  <div class="chat-messages">
    <div style="background-color: rgb(228, 222, 222);">
      <ul class="chat-messages-show-list">
        <ng-container *ngFor="let msg of messageList" >
          <div class="row justify-content-end pr-4" *ngIf="msg.sender === 0">
            <li style="background: white; padding: 15px 30px; margin: 10px; width: 200px; border-radius: 25px">
              {{msg.message}}
            </li>
          </div>
          <div class="row pl-4" *ngIf="msg.sender === 1">
            <li style="background: white; padding: 15px 30px; margin: 10px; width: 200px; border-radius: 25px">
              {{msg.message}}
            </li>
          </div>
        </ng-container>
      </ul>
    </div>
    <div class="chat-messages-create-container">
      <input class="chat-messages-create-input" style="border-radius: 5px" type="text" [(ngModel)]="message" (keydown.enter)="sendMessage()">
      <button class="chat-messages-create-button" style="border-radius: 5px" (click)="sendMessage()"> Send </button>
    </div>
  </div>
</div>